form {
    box-sizing: border-box;
    width: 300px;
    margin: 100px auto;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 4px;
}


form h1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    background-color: lightseagreen;
}

.textbox {
    margin: 40px auto;
    margin-bottom: 10px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px;
    border-bottom: solid 1px #1abc9c;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
    text-align: right;
    font-weight: bold;
    font-size: 15pt;
}

.textbox:focus, .textbox:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.textbox:focus::-webkit-input-placeholder, .textbox:valid::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 11px;
    transform: translateY(-20px);
    visibility: visible !important;
}
.numarea {
    /* background-color: red; */
    position: relative;
    margin: 20px auto;
    margin-top: 0px;
    width: 200px;
    text-align: center;
}
.numbtn {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px 0;
    width: 22%;
    height: 32px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-color: lightseagreen;
}

.numbtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.solvebtn {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px 0;
    width: 22%;
    height: 32px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: peru;
}

.solvebtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
